h1, ul {
	margin-bottom: 0;
}

.no-link {
	color: #333333;
}

.no-link:hover {
	text-decoration: none;
}

.nav-middle {
	margin: 0px;
	padding-top: 1em;
}

.progress {
	height: 1px;
	position: relative;
	top: 21px;
}