h1, ul {
	margin-bottom: 0;
}

h2 {
	word-wrap: break-word;
}

.lead {
	margin-bottom: 10px;
}

.no-link {
	color: #333333;
}

.no-link:hover {
	text-decoration: none;
}

.nav-middle {
	margin: 0px;
	padding-top: 1em;
}

.align-middle {
	vertical-align: middle;
}

.progress {
	height: 1px;
	position: relative;
	top: 21px;
}