<!doctype html>
	<html ng-app="zeitnow">
		<head>
			<meta charset="utf-8"/>
			<title>Zeit Now</title>
		    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
			<link href="css/bootstrap.css" rel="stylesheet" media="screen"/>
			<link href="css/bootstrap-responsive.css" rel="stylesheet"/>
			<link href="css/zeitnow.css" rel="stylesheet" media="screen"/>
			<script src="_ah/channel/jsapi"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/angular.min.js"></script>
			<script src="js/moment.min.js"></script>
			<script src="js/lang/de.js"></script>
			<script src="js/bootstrap.min.js"></script>
			<script src="js/zeitnow.js"></script>
		</head>
		<body>
			<div class="container" ng-controller="ZeitNowCtrl">

				<div class="row">
					<h1 class="span4 hidden-phone">
						Zeit Now
					</h1>
					<ul class="nav nav-pills nav-middle hidden-desktop">
						<li class="active"><a href="#" class="hidden-tablet">
							<i class="icon-home"></i> Zeit Now
						<li><a href="#about" role="button" data-toggle="modal">
								<i class="icon-info-sign"></i> About
							</a>
						</li>
						<li><a href="mailto:zeitnow@apigems.com">
								<i class="icon-envelope"></i> Feedback
							</a>
						</li>
						<li><a href="http://github.com/cutoffthetop/zeitnow">
								<i class="icon-align-left"></i> Github
							</a>
						</li>
					</ul>
					<ul class="unstyled pull-right hidden-tablet hidden-phone">
						<li><a href="#about" role="button" data-toggle="modal">
								<i class="tooltips icon-info-sign" title="About Zeit Now" data-toggle="modal tooltip" data-placement="bottom"></i>
							</a>
						</li>
						<li><a href="mailto:zeitnow@apigems.com" class="tooltips" title="Feedback geben" data-toggle="tooltip" data-placement="bottom">
								<i class="icon-envelope"></i>
							</a>
						</li>
						<li><a href="http://github.com/cutoffthetop/zeitnow" class="tooltips" title="Auf Github ansehen" data-toggle="tooltip" data-placement="bottom">
								<i class="icon-align-left"></i>
							</a>
						</li>
					</ul>
					<script type="text/javascript">
						$('.tooltips').tooltip();
					</script>
					<div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h3 id="myModalLabel">Über Zeit Now</h3>
						</div>
						<div class="modal-body">
							<p>Verfolge Nachrichten und ihre Resonanz in der Twitter Community in Echtzeit. Neue Artikel von ZEIT ONLINE und passende Tweets werden automatisch angezeigt ohne, dass du etwas tun musst.<br/>Zeit Now ist ein privates, nicht-kommerzielles Projekt von <a href="http://twitter.com/cutoffthetop">cutoffthetop</a> und kein offizielles Angebot der ZEIT ONLINE GmbH.</p>
						</div>
					</div>
				</div>
				<div class="progress">
					<div class="bar" style="width:{{progress}}%;"></div>
				</div>
				<hr/>
				<div class="row">
					<div ng-repeat="story in stories" class="span4">
						<small class="label label-info">
							{{story.lead.supertitle}}
						</small>
						<h2>
							{{story.lead.teaser_title}}
						</h2>
						<p class="lead">
							<a href="{{story.lead.href}}" class="no-link" target="_blank" alt="Den ganze Artikel lesen.">
								{{story.lead.teaser_text}}
							</a>
						</p>
						<small class="muted">
								–
								<span ng-repeat="creator in story.lead.creators">
									{{creator.name}}
								</span>
								<i data-time="{{story.lead.release_date}}"></i>
						</small>
						<hr/>
						<small class="muted" ng-hide="story.tweets">
							Noch keine Tweets.
						</small>
						<blockquote ng-repeat="tweet in story.tweets">
							<p>
								<a href="http://twitter.com/{{tweet.from_user}}" target="_blank">
									<img ng-src="{{tweet.profile_image_url}}" class="pull-right img-circle" alt="tweet.from_user_name"/>
								</a>
								<a href="http://twitter.com/{{tweet.from_user}}/status/{{tweet.id_str}}" class="no-link" target="_blank">
									{{tweet.text}}
								</a>
							</p>
							<small>
								<a href="http://twitter.com/{{tweet.from_user}}" target="_blank">
									{{tweet.from_user_name}}
								</a>
								via Twitter
								<i data-time="{{tweet.created_at}}"></i>
							</small>
						</blockquote>
					</div>
				</div>
			</div>
		</body>
	</html>