<!doctype html>
	<html ng-app="zeitnow">
		<head>
			<meta charset="utf-8"/>
			<title>Zeit Now</title>
		    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
			<link href="css/bootstrap.css" rel="stylesheet" media="screen"/>
			<link href="css/bootstrap-responsive.css" rel="stylesheet"/>
			<link href="css/zeitnow.css" rel="stylesheet" media="screen"/>
			<script src="_ah/channel/jsapi"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/angular.min.js"></script>
			<script src="js/moment.min.js"></script>
			<script src="js/lang/de.js"></script>
			<script src="js/bootstrap.min.js"></script>
			<script src="js/zeitnow.js"></script>
		</head>
		<body>
			<div class="container" ng-controller="ZeitNowCtrl">
				<h1>
					Zeit Now
					<a href="#myModal" data-toggle="modal">
						<i class="icon-info-sign align-middle"></i>
					</a>
				</h1>
				<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">About Zeit Now</h3>
					</div>
					<div class="modal-body">
						<p>One fine body…</p>
					</div>
				</div>
				<hr ng-show="stories"/>
				<div class="row">
					<div ng-repeat="story in stories" class="span4">
						<small class="label label-info">
							{{story.lead.supertitle}}
						</small>
						<h2>
							{{story.lead.teaser_title}}
						</h2>
						<p class="lead">
							<a href="{{story.lead.href}}" class="no-link" target="_blank" alt="Den ganze Artikel lesen.">
								{{story.lead.teaser_text}}
							</a>
							<small ng-repeat="creator in story.lead.creators">
								– {{creator.name}}
							</small>
						</p>
					</div>
				</div>
				<hr ng-show="stories"/>
				<div class="row">
					<div ng-repeat="story in stories" class="span4">
						<small class="muted" ng-hide="story.tweets">
							Noch keine Tweets.
						</small>
						<blockquote ng-repeat="tweet in story.tweets">
							<p>
								<a href="http://twitter.com/{{tweet.from_user}}" target="_blank">
									<img src="{{tweet.profile_image_url}}" class="pull-right img-circle" alt="tweet.from_user_name"/>
								</a>
								<a href="http://twitter.com/{{tweet.from_user}}/status/{{tweet.id_str}}" class="no-link" target="_blank">
									{{tweet.text}}
								</a>
							</p>
							<small>
								<a href="http://twitter.com/{{tweet.from_user}}" target="_blank">
									{{tweet.from_user_name}}
								</a>
								via Twitter
								<i data-time="{{tweet.created_at}}"></i>
							</small>
						</blockquote>
					</div>
				</div>
			</div>
		</body>
	</html>